@{
  Layout = "_Layout";
}

@model Music_Organizer.Models.Artist

<h2>Add an Medium</h2>

<h4>Add an Medium to this Artist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ArtistId)

    @Html.Label("Select Medium")
    @Html.DropDownList("MediumId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>