@{
  Layout = "_Layout";
}

@model Music_Organizer.Models.Album

<h4>Add a new Album</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)


  @Html.Label("Select Medium")
  @Html.DropDownList("MediumId")
  
  <input type="submit" value="Add new Album" />
}
<p>@Html.ActionLink("Show all Albums", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
