@{
  Layout = "_Layout";
}

@model Music_Organizer.Models.Medium

<h2>Add an album</h2>

<h4>Add a album to this medium: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MediumId)

    @Html.Label("Select Album")
    @Html.DropDownList("AlbumId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>